footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

footer a {
    text-decoration: none;
    padding: 0.6rem 1rem;
    margin-inline: auto;
    background-color: var(--color-secondary);
    border-radius: 0.6rem;
    border: 0.15rem solid var(--color-tertiary);
    font-size: medium;
    color: var(--white);
    transition: 0.3s ease-in;
}