@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: hsl(109, 61%, 43%);
    --color-secondary: hsl(217, 30%, 12%);
    --color-tertiary: hsl(214, 29%, 17%);
    --color-extra: hsl(225, 18%, 37%);

    --bg-wrong: rgba(73, 13, 13, 0.4);
    --bg-correct: rgba(13, 70, 11, 0.4);

    --bg-body: #0e0f0f;

    --white: hsl(0, 0%, 95%);
    --black: hsl(0, 0%, 0%);
    --red: hsl(0, 100%, 31%);
}

body{
    min-height: 100vh;
    height: fit-content;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 1.6rem;
    background-color: var(--bg-body);
}

.align{
    text-align: center;
}

.creator-title{
    opacity: .8;
    margin-bottom: 1rem;
    font-size: small;
}

.relative{
    position: relative;
}

.capitalize{
    text-transform: capitalize;
}

.center{
    text-align: center;
}